html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.body {
  background-color: #564e41;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.main {
  display: grid;
  width: 80%; }
  @media (min-width: 950px) {
    .main {
      grid-template-columns: 1fr 2fr; } }

.left {
  background: #202020;
  background-image: url("../img/cat-640x426.jpg");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center bottom;
  height: 200px; }
  @media (min-width: 950px) {
    .left {
      height: 555px; } }

.right {
  background: #f6f6f6;
  height: 500px; }
  @media (min-width: 950px) {
    .right {
      height: 555px; } }
