html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.body {
  background-color: #564e41;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.main {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr; }

.left {
  height: 300px;
  background: black; }

.right {
  height: 300px;
  background: white; }
