// Color pallete
$bg-color: #564e41;
$my-black: #202020;
$my-white: #f6f6f6;
$my-gray: #a6a6a6;
$my-yellow: #c1c476;
$my-green: #2fa522;

//Used font
$my-font: montserrat;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.body {
  background-color: $bg-color;
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  display: grid;
  width: 80%;
  @media (min-width: 950px) {
    grid-template-columns: minmax(280px, 1fr) 2fr;
    grid-template-rows: auto auto;
    width: 60%;
  }
}

.nav{
  font-family: $my-font;
  font-variant: small-caps;
  color: $my-white;
  background: $my-black;
  background-image: url("../img/cat-640x426.jpg");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: right bottom;
  height: 280px;
  @media (min-width: 950px) {
    background-size: auto 50%;
    background-position: center bottom;
    
    height: 555px;
  }
}

.left {
  display: grid;
  grid-template-columns: 10px auto;
  grid-template-rows: 40px repeat(6, 20px) 5px;
  grid-column-gap: 16px;
  grid-row-gap: 10px;
  margin: 0;
  padding: 16px;
  @media (min-width: 950px) {
    padding: 36px 0 0 36px;
    grid-template-rows: 40px repeat(6, 30px) 5px;
  }

  &__header {
    font-weight: 400;
    margin: 0;
    font-size: 26px;
    grid-area: 1 / 1 / span 1 / span 2;
  }

  &__vertical-line {
    background-color: $my-gray;
    width: 2px;
    height: 80%;
    margin: -5px 0 0 10px;
    vertical-align: top;
    display: inline-block;
    grid-area: 2 / 1 / span 7 / span 1;
  }
}

.week {
  display: inline-block;
  color: $my-gray;

  &__link::before {
    width: 8px;
    height: 8px;
    background: $my-gray;
    display: inline-block;
    content: "";
    margin: 0 15px 0 -19px;
    border-radius: 50%;
  }

  //i dont know why next rule dont work when i remove .left class
  .left :not(.week--current) &__link:hover::before {
    width: 8px;
    height: 8px;
    background: $my-yellow;
    display: inline-block;
    content: "";
    margin: 0 15px 0 -19px;
    border-radius: 50%;
  }

  &--current &__link::before {
    width: 12px;
    height: 12px;
    background: $my-white;
    display: inline-block;
    content: "";
    margin: 0 15px 0 -21px;
    border-radius: 50%;
  }

  &:not(.week--current):hover {
    color: $my-yellow;
  }

  &:not(.week--current):hover::after {
    content: ":hover";
  }

  &--current {
    color: $my-white;
  }

  &--current::after {
    content: "--current";
  }
}

.hidden {
  display: none;
}

.right {
  background: $my-white;
  height: 500px;
  position: relative;
  //   border-radius: 0px 16px 16px 0px;
  @media (min-width: 950px) {
    height: 555px;
  }

  &__progress-indicator {
    position: absolute;
    font-family: $my-font;
    font-variant: small-caps;
    font-size: 18px;
    letter-spacing: 2px;
    bottom: 5%;
    right: 8%;
    @media (min-width: 475px) and (max-width: 950px), (min-width: 1175px) {
      bottom: 11%;
      left: 8%;
    }
  }

  &__header-box {
    position: absolute;
    background-color: $bg-color;
    border: 2px solid $my-white;
    padding: 16px;
    margin: 0px;
    font-family: $my-font;
    color: $my-white;
    font-weight: normal;
    font-size: 18px;
    font-variant: small-caps;
    //top is equal 50% of size this element
    top: -43px;
    right: 10px;
    @media (min-width: 950px) {
      //Left is equal 50% of size this element
      left: -107px;
      right: auto;
    }
  }
}

.bigger-text {
  font-size: 26px;
  letter-spacing: 6px;
}

.form {
  &__before-input {
    position: absolute;
    top: 20%;
    margin-left: 8%;
    font-family: $my-font;
    font-weight: bold;
  }

  &__after-input {
    position: absolute;
    top: 20%;
    right: 0;
    margin-right: 8%;
    font-family: $my-font;
    font-weight: bold;
  }

  &__text {
    position: absolute;
    top: 28%;
    margin: 0 10%;
    font-family: $my-font;
    font-size: 16px;
    font-weight: normal;
  }

  &__input {
    width: 80%;
    position: absolute;
    top: 20%;
    margin-left: 10%;
    border: none;
    background: none;
    border-bottom: 2px solid $my-gray;
    font-family: $my-font;
  }

  &__input:focus {
    border-bottom: 2px solid $my-black;
  }

  &__confirmation {
    width: 150px;
    height: 36px;
    position: absolute;
    bottom: 10%;
    right: 8%;
    background: $my-gray;
    border: none;
    font-family: $my-font;
    color: $my-white;
    font-size: 16px;
    border-radius: 6px;
    z-index: 1;
  }

  &:valid &__confirmation {
    background: $my-green;
  }
}

.nav{
  @media(max-width:400px){
    height: 110px;
  }
}

.left__hidden {
  @media (max-width: 400px) {
    display: none;
  }
}

.left__hamburger-button{
  display: none;
  margin: 16px;
  @media(max-width:400px){
    display: block;
  }
}